body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#graphInterface {
  width: 100%;
  height: 50px;
  background-color: #4CAF50;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 10px;
}

#graphContainer {
  border: 1px solid black;
  width: 80%;
  height: 70%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.graph-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.graph-button:hover {
  background-color: #45a049;
}

.year-range {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.year-range label {
  margin-right: 10px;
  font-size: 16px;
}

.year-range input {
  width: 80px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.year-range input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 4px rgba(52, 152, 219, 0.5);
}

